* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(49, 46, 46, 0.881);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.todo-input {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-top: 30px;
  gap: 10px;
}

.todo-input input,
button {
  padding: 4px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.todo-input input {
  width: 20%;
  height: 35px;
}

.todo-input button {
  background-color: rgb(13, 186, 13);
  color: rgba(13, 12, 12, 0.772);
  font-weight: bold;
}

.todo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 1px;
  background-color: blueviolet;
  border-radius: 5px;
}

#todo-item {
  width: 300px;
  display: flex;
  align-items: center;
}

.delete-btn {
  background-color: red;
  color: rgba(255, 255, 255, 0.925);
  font-weight: bold;
  padding: 6px 12px;
}

.todo-container input[type="checkbox"] {
  transform: scale(1.2);
  accent-color: green;
  margin: 0 8px;
}
